:8080 {
  root * /var/www/html
  vars error_code {$ERROR_CODE:503}

  @contentType {
    header Content-Type application/json*
  }
  @accept {
    header Accept *application/json*
  }

  log {
    output file /var/log/caddy/pager-errcode.access.log
  }

  handle /_app/* {
    header Cache-Control "public, max-age=31536000, immutable"
    file_server
  }

  handle /robots.txt {
    log_skip
    file_server
  }

  handle /favicon.ico {
    log_skip
    file_server
  }

  handle {
    header Cache-Control "no-store"
    header X-Robots-Tag "noindex, nofollow"
    templates {
      between [[ ]]
    }

    respond @contentType {"errorCode":{$ERROR_CODE:503}} {$ERROR_CODE:503}
    respond @accept {"errorCode":{$ERROR_CODE:503}} {$ERROR_CODE:503}

    try_files {path} /index.html
    file_server {
      status {$ERROR_CODE:503}
    }
  }
}

:9000 {
  handle /health {
    log_skip
    respond ☕ 200
  }
}
